In [1]:
import pandas as pd
import sklearn
import sklearn.model_selection
import sys
sys.path.append('../')
import encoding
from utilities import *
from models.logreg import LogisticRegression

In [2]:
df = pd.read_csv("../datasets/rollouts.csv")
df

                                                     FEN  Winner
0      rnbqkbnr/pppppppp/8/8/8/5P2/PPPPP1PP/RNBQKBNR ...       0
1      rnbqkbnr/pp1ppppp/8/2p5/8/5P2/PPPPP1PP/RNBQKBN...       0
2      rnbqkbnr/pp1ppppp/8/2p5/8/5P1N/PPPPP1PP/RNBQKB...       0
3      rnbqkbnr/pp1p1ppp/4p3/2p5/8/5P1N/PPPPP1PP/RNBQ...       0
4      rnbqkbnr/pp1p1ppp/4p3/2p5/3P4/5P1N/PPP1P1PP/RN...       0
...                                                  ...     ...
99995  rn3knr/p1q3pp/1p1p1p2/1bpBQ3/1b2P2R/2P2K2/PB1P...       0
99996  rn3knr/p3q1pp/1p1p1p2/1bpBQ3/1b2P2R/2P2K2/PB1P...       1
99997  rn3knr/p3q1pp/1p1p1p2/1bpBQ3/1b2P3/2P2K2/PB1P1...       0
99998  rn3knr/p2q2pp/1p1p1p2/1bpBQ3/1b2P3/2P2K2/PB1P1...       1
99999  rn3knr/p2q2pp/1p1p1p2/1bpBQ3/1b2P3/2P2K2/PB1P1...       0

[100000 rows x 2 columns]

In [3]:
# Encode the dataset
chess_df = easy_encode(df, encoding.advantage)
chess_df

100%|██████████| 100000/100000 [00:27<00:00, 3674.79it/s]

        0  1  Winner
0      -1  0       0
1      -3  0       0
2      -1  0       0
3      -8  0       0
4       0  0       0
...    .. ..     ...
99995  10 -2       0
99996   8 -2       1
99997   6 -2       0
99998   5 -2       1
99999   5 -2       0

[100000 rows x 3 columns]

In [5]:
train_df, test_df = sklearn.model_selection.train_test_split(chess_df, test_size=.1)
trainX, trainY = XYsplit(train_df, 'Winner')
testX, testY = XYsplit(test_df, 'Winner')

for alpha in (1e20, 100, 10, 1, 0, -1e10, -1e20, -1e30):
	logreg = LogisticRegression(trainX, trainY, alpha=alpha)
	print(f'error on train set {logreg.error(trainX, trainY)} for alpha {alpha}')

error on train set 0.21431111111111112 for alpha 1e+20
error on train set 0.17041111111111112 for alpha 100
error on train set 0.17041111111111112 for alpha 10
error on train set 0.17041111111111112 for alpha 1
error on train set 0.17041111111111112 for alpha 0
error on train set 0.2144888888888889 for alpha -10000000000.0
error on train set 0.21406666666666666 for alpha -1e+20
error on train set 0.21406666666666666 for alpha -1e+30