In [1]:
import pandas as pd
import sklearn
import sklearn.model_selection
import sys
sys.path.append('../')
import encoding
from utilities import *
from models.logreg import LogisticRegression

In [2]:
df = pd.read_csv("../datasets/random.csv")
df

                                                     FEN  Winner
0      4q3/2n3b1/3R4/5pqb/1b5n/n2K1p1k/4NB1q/r1R5 w -...       0
1           6K1/6P1/4N3/2P4N/1N1P2BQ/1P4k1/8/8 w - - 0 1       1
2      qN1k3r/1rN1b2b/6K1/B2n3r/5r2/Q5nr/q2r2Q1/8 w -...       0
3             4n3/2b4b/1rr5/6p1/r2k4/1Kp5/8/b7 w - - 0 1       0
4      1bn1BKQ1/1bPR4/1B1N2k1/bb1br2Q/5Q1n/N4N2/1q3r2...       1
...                                                  ...     ...
99995             8/p6K/3p2b1/k7/n6r/8/5q2/2b5 w - - 0 1       0
99996  2nR4/4P1P1/K4b1q/5p2/1b1p4/4rk2/5r2/5bq1 w - -...       0
99997            8/1q4np/8/7Q/8/B2k4/2p5/2K3r1 w - - 0 1       0
99998        8/1b6/1nk5/5n1K/7b/r1r5/4bqB1/2n5 w - - 0 1       0
99999  1qNQ1Nq1/4q3/K2N3q/2P3n1/1k1q1p1Q/1b6/6R1/1r1N...       0

[100000 rows x 2 columns]

In [3]:
# Encode the dataset
chess_df = easy_encode(df, encoding.advantage)
chess_df

  0%|          | 0/100000 [00:00<?, ?it/s]

        0   1  Winner
0     -37 -36       0
1      31  25       1
2     -74 -33       0
3     -46 -29       0
4      70  -1       1
...    ..  ..     ...
99995 -56 -25       0
99996 -67 -35       0
99997 -40  -7       0
99998  -8 -34       0
99999  -3 -15       0

[100000 rows x 3 columns]

In [4]:
chessX, chessY = XYsplit(chess_df, 'Winner')
logreg = LogisticRegression(chessX, chessY)
logreg

[0.03991517 0.09927695]

In [5]:
logreg.error(chessX, chessY)

0.09577

##### Check with train/test split

In [6]:
train_df, test_df = sklearn.model_selection.train_test_split(chess_df, test_size=.1)
trainX, trainY = XYsplit(train_df, 'Winner')
testX, testY = XYsplit(test_df, 'Winner')
train_logreg = LogisticRegression(trainX, trainY)
print(f'error on train set {train_logreg.error(trainX, trainY)}')
print(f'error on test set {train_logreg.error(testX, testY)}')

error on train set 0.09592222222222223
error on test set 0.0935